<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/automatischNakijkenDB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping resource="fnt/hu/nl/automatischNakijken/Domain/Course.hbm.xml"/>
        <mapping resource="fnt/hu/nl/automatischNakijken/Domain/CoursePeriod.hbm.xml"/>
   		<mapping resource="fnt/hu/nl/automatischNakijken/Domain/Class.hbm.xml"/>
   		<mapping resource="fnt/hu/nl/automatischNakijken/Domain/WorkGroup.hbm.xml"/>
   		<mapping resource="fnt/hu/nl/automatischNakijken/Domain/Instructor.hbm.xml"/>
    	<mapping resource="fnt/hu/nl/automatischNakijken/Domain/SolutionEvaluation.hbm.xml"/>
    	<mapping resource="fnt/hu/nl/automatischNakijken/Domain/TeachingAssistant.hbm.xml"/>
    	<mapping resource="fnt/hu/nl/automatischNakijken/Domain/Student.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
